/* Basic page styling */
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Task c: Navigation Menu styling */
  nav {
    background-color: #79c7f7;
    position: fixed;
    width: 120px;
    height: 100%;
    padding-top: 20px;
  }
  
  nav a {
    padding: 15px;
    display: block;
    font-size: 20pt;
    color: #000000;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #f1f1f1;
  }
  
  /* Task d: Dropdown Menu */
  .dropbtn {
    font-size: 20px;
    padding: 10px;
    background-color: #79c7f7;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
  
  /* Task b: Image styling */
  #profilePic {
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  #profilePic:hover {
    transform: scale(1.1);
  }
  